@import "@/styles/variables.scss";

.section {
  margin: 128px auto;
  max-width: 768px;
}

.title {
  font-family: $second-family;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -0.04em;
  margin: 32px 0;
  color: $denim;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  margin: 24px 0;
  color: $dark-gray;
}

.subtitle {
  font-family: $second-family;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.06em;
  margin: 24px 0;
  color: $denim;
}
