@import "@/styles/variables.scss";

.card {
  padding: 32px;
  border: 1px solid rgba($gray, 0.3);
  cursor: pointer;

  &:hover {
    background-color: $yellow;
  }
}

.imageWrapper {
  width: 48px;
  height: 48px;
  background-color: $antique-white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.title {
  font-family: $second-family;
  font-weight: 700;
  font-size: 28px;
  line-height: 143%;
  letter-spacing: -0.04em;
  color: $denim;
  margin-top: 16px;
}

.description {
  line-height: 175%;
  color: $gray;
  margin-top: 4px;
}
