@import "@/styles/variables.scss";

.card {
  padding: $s32;
  border: 1px solid rgba($gray, $op3);
  cursor: pointer;

  &:hover {
    background-color: $yellow;
  }
}

.imageWrapper {
  width: $s48;
  height: $s48;
  background-color: $antique-white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $s8;
}

.title {
  font-family: $second-family;
  font-weight: $fw700;
  font-size: $fs28;
  line-height: 143%;
  letter-spacing: -0.04em;
  color: $denim;
  margin-top: $s16;
}

.description {
  line-height: 175%;
  color: $gray;
  margin-top: $s4;
}
