@import "@/styles/variables.scss";

.section {
  margin: 128px 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.title {
  font-family: $second-family;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.06em;
  margin-bottom: 32px;
  color: $black;
}

.separator {
  border: none;
  border-bottom: 1px solid $gray;
  opacity: 0.3;
}
