@import "@/styles/variables.scss";

.card {
  padding: 40px;
  background-color: $light-gray;
  text-align: center;
  width: calc(100% / 6);
  flex-grow: 1;
  cursor: default;

  &:hover {
    background-color: $antique-white;
  }

  &:active {
    background-color: $yellow;
  }
}

.image {
  border-radius: 100%;
}

.name {
  font-family: $second-family;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.04em;
  margin-top: 20px;
  color: $denim;
}

.status {
  font-size: 14px;
  margin-top: 8px;
  color: $gray;
}

.socials {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 16px;

  & > * {
    cursor: pointer;
  }
}
