@import "@/styles/variables.scss";

.card {
  padding: $s40;
  background-color: $light-gray;
  text-align: center;
  width: calc(100% / 6);
  flex-grow: 1;
  cursor: default;

  &:hover {
    background-color: $antique-white;
  }

  &:active {
    background-color: $yellow;
  }
}

.image {
  border-radius: 100%;
}

.name {
  font-family: $second-family;
  font-weight: $fw700;
  font-size: $fs24;
  margin-top: $s20;
  color: $denim;
}

.status {
  font-size: $fs14;
  margin-top: $s8;
  color: $gray;
}

.socials {
  margin-top: $s20;
  display: flex;
  justify-content: center;
  gap: $s16;

  & > * {
    cursor: pointer;
  }
}

@media (max-width: $screen-lg) {
  .card {
    width: calc(100% / 4);
  }
}

@media (max-width: $screen-sm) {
  .card {
    width: calc(100% / 3);
  }
}
