@import "@/styles/variables.scss";

.section {
  margin: 128px auto;
  text-align: center;
  max-width: 410px;
}

.title {
  font-family: $second-family;
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: -0.06em;
  color: $denim;
}

.subtitle {
  line-height: 175%;
  color: $gray;
  margin: 16px auto 32px;
}
