@import "@/styles/variables.scss";

.wrapper {
  padding: $s32;
  border: 1px solid rgba($gray, $op1);
}

.head {
  font-family: $second-family;
  font-weight: $fw700;
  font-size: $fs36;

  color: $denim;
  margin-bottom: $s32;
}

.creds {
  font-weight: $fw500;
  font-size: $fs14;
  margin-top: $s32;
  color: $dark-gray;

  span {
    color: $purple;
  }
}

.title {
  font-family: $second-family;
  font-weight: $fw700;
  font-size: $fs28;

  margin-top: $s16;
  color: $denim;
}

.description {
  margin: $s16 0 $s32;
  color: $gray;
}

.image {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}
