@import "@/styles/variables.scss";

.section {
  margin: $s128 0;
}

.wrapper {
  display: flex;
  gap: $s32;

  & > :nth-child(1) {
    flex-basis: 60%;
  }
  & > :nth-child(2) {
    flex-basis: 40%;
  }
}
