$main: #232536;
$yellow: #ffd050;
$purple: #592ea9;
$dark-gray: #4c4c4c;
$gray: #6d6e76;
$light-gray: #f4f4f4;
$ghost-white: #f4f0f8;
$antique-white: #fbf6ea;

$yellow-hover: #edc14a;

$fs56: "56px";
$fs48: "48px";
$fs36: "36px";
$fs28: "28px";
$fs24: "24px";
$fs20: "20px";
$fs16: "16px";
$fs14: "14px";
