@import "@/styles/variables.scss";

.logo {
  font-weight: $fw700;
  font-size: $fs24;
  color: $white;

  &:hover {
    opacity: $op7;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $s24;
}

.navWrapper {
  display: flex;
  gap: $s32;
}

.link {
  color: $white;

  &:hover {
    color: $gray;
  }
}

.isVisible[data-visible="false"] {
  display: none;
}

.burger {
  display: none;
}

@media (max-width: $screen-md) {
  .burger {
    display: block;
    z-index: $layer-3;
  }

  .navWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: $layer-2;
    background-color: $denim;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &[data-visible="false"] {
      display: none;
    }

    & > * {
      max-width: 200px;
      text-align: center;
    }

    .flex {
      flex-direction: column;
    }
  }
}
