@import "@/styles/variables.scss";

.logo {
  font-weight: 700;
  font-size: $fs24;
  color: $white;

  &:hover {
    color: $gray;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.navWrapper {
  display: flex;
  gap: 32px;
}

.link {
  color: $white;

  &:hover {
    color: $gray;
  }
}

.isVisible[data-visible="false"] {
  display: none;
}
