@import "@/styles/variables.scss";

.section {
  min-height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
  background: center / 100% no-repeat
    url("/images/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook.webp");
}

.title {
  margin-top: $s24;
  font-family: $second-family;
  font-weight: $fw700;
  font-size: $fs56;
  letter-spacing: -0.04em;
  max-width: 800px;
}

.subtitle {
  font-weight: $fw500;
  letter-spacing: 0.19em;
  text-transform: uppercase;

  span {
    font-weight: $fw900;
  }
}

.creds {
  margin-top: $s24;

  span {
    color: $yellow;
  }
}

.description {
  max-width: 600px;
  margin-top: $s16;
  line-height: 175%;
  margin-bottom: $s48;
}
