@import "@/styles/variables.scss";

.section {
  margin: 128px 0;
}

.title {
  font-family: $second-family;
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: -0.06em;
  color: $denim;
  text-align: center;
}

.cards {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
