@import "@/styles/variables.scss";

.section {
  padding: $s80 0;
  background-color: $ghost-white;
  text-align: center;
}

.title {
  font-family: $second-family;
  font-weight: $fw700;
  font-size: $fs48;
  color: $denim;
}

.description {
  margin-top: $s16;
  color: $denim;
  opacity: $op6;
}

@media (max-width: $screen-md) {
  .section {
    padding: $s40 0;
  }

  .title {
    font-size: $fs36;
  }
}
