@import "@/styles/variables.scss";

.section {
  margin: $s64 0 $s128;
}

.title {
  font-family: $second-family;
  font-weight: $fw700;
  font-size: $fs48;
  letter-spacing: -0.04em;
  margin-bottom: $s32;
  color: $denim;
}

.divider {
  border: none;
  border-bottom: 1px solid $gray;
  opacity: $op3;
  margin-bottom: $s32;
}

.pagination {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: $s20;
}

.arrow {
  font-family: $second-family;
  font-weight: $fw700;
  font-size: $s24;
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  color: $denim;

  &:disabled {
    color: $gray;
    cursor: default;

    &:hover {
      font-size: $s24;
    }
  }

  &:hover {
    font-size: $s28;
  }
}
