@import "@/styles/variables.scss";

.footer {
  background-color: $denim;
  padding: $s64 0;
  color: $white;
}

.title {
  font-family: $second-family;
  font-size: $fs36;
}

.input {
  color: $white;
  padding: $s16 $s24;
  background-color: transparent;
  border: 1px solid $dark-gray;

  &::placeholder {
    color: $gray;
  }
}

.inputWrapper {
  text-align: right;
  display: flex;
  gap: $s24;
}

.wrapper {
  padding: $s80 $s64;
  background-color: rgba($white, $op05);
  margin-top: $s48;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  gap: $s32;

  & > :first-child {
    flex-basis: 50%;
  }
}

.address {
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $s48;
}

.socials {
  display: flex;
  gap: $s28;
}

.contacts {
  color: $white;
  opacity: $op7;
}

.error {
  position: absolute;
  transform: translateY(300%);
  color: $red;
  margin-top: $s4;
}

@media (max-width: $screen-lg) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: $screen-sm) {
  .section {
    margin: $s64 auto;
  }

  .wrapper {
    padding: $s32;
  }

  .title {
    font-size: $fs28;
  }

  .address {
    flex-direction: column;
    gap: $s16;
  }

  .inputWrapper {
    flex-direction: column;
  }
}
