@import "@/styles/variables.scss";

.section {
  padding: 80px 0;
  background-color: $ghost-white;
  text-align: center;
}

.title {
  font-family: $second-family;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -0.04em;
  color: $denim;
}

.text {
  line-height: 175%;
  margin-top: 16px;
  max-width: 500px;
  margin: 16px auto 0;
  color: $gray;
}

.subtitle {
  font-weight: 500;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  margin-top: 32px;
  color: $denim;
}
