@import "@/styles/variables.scss";

.image {
  width: 100%;
  height: auto;
  margin-top: 64px;
}

.container {
  width: 850px;
  margin: 64px auto 0;
}

.text {
  line-height: 175%;
  color: $gray;
}
