@import "@/styles/variables.scss";

.section {
  min-height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
  background: center/ cover no-repeat
    url("/images/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook.webp");
}

.title {
  margin-top: $s24;
  font-family: $second-family;
  font-weight: $fw700;
  font-size: $fs56;
  max-width: 800px;
}

.subtitle {
  font-weight: $fw500;
  letter-spacing: $ls019;
  text-transform: uppercase;

  span {
    font-weight: $fw900;
  }
}

.creds {
  margin-top: $s24;

  span {
    color: $yellow;
  }
}

.description {
  max-width: 600px;
  margin-top: $s16;

  margin-bottom: $s48;
}

@media (max-width: $screen-md) {
  .section {
    text-align: center;
  }

  .description {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: $screen-sm) {
  .section {
    min-height: 300px;
    padding: $s32 0;
  }

  .title {
    font-size: $fs36;
  }
}
