@import "@/styles/variables.scss";

.header {
  max-width: $screen-sm;
}

.container {
  width: 850px;
  margin: 0 auto;
}

.authorWrapper {
  display: flex;
  gap: 12px;
}

.authorImage {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.author {
  font-family: $second-family;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.04em;
  color: $purple;
}

.creds {
  color: $gray;
}

.title {
  font-family: $second-family;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -0.04em;
  margin-top: 24px;
  color: $denim;
}

.category {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 34px;
}

.categoryText {
  font-family: $second-family;
  font-weight: 700;
  font-size: 24px;
  color: $denim;
}
